# no stow directory path files
zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
.zsh_history
.zsh_sessions
zsh/plugins
zsh/.zcompdump
terminfo
tmux/plugins
lazy-lock.json
lazyvim.json
configstore
gh
neofetch
ROADMAP.md
Brewfile.lock.json
TODO.md
font/cache
dotfiles.drawio
