xrandr --output HDMI-0 --mode 3840x2160 --rate 120
xrandr --output DP-2 --mode 2560x1440 --rate 120
xrandr --output DP-2 --rotate right --rate 120
xrandr --output DP-4 --mode 2560x1440 --rate 120
xrandr --output DP-4 --rotate left --rate 120
xrandr --output DP-2 --right-of HDMI-0
xrandr --output DP-4 --left-of HDMI-0

pactl set-default-sink alsa_output.pci-0000_2d_00.4.analog-stereo
