xrandr --output HDMI-0 --mode 3840x2160 --rate 120
xrandr --output DP-0 --mode 2560x1440 --rate 120
xrandr --output DP-0 --rotate left --rate 120
xrandr --output DP-4 --mode 2560x1440 --rate 120
xrandr --output DP-4 --rotate right --rate 120
xrandr --output DP-0 --left-of HDMI-0
xrandr --output DP-4 --right-of HDMI-0

# ###### Find avaliable audio output ######
# pactl list | grep "Monitor of Sink"
# ####################################

# adjust system wide volume when changing audio output. Defaults to 50%
# pactl set-sink-volume @DEFAULT_SINK@ <percent>%
pactl set-default-sink alsa_output.pci-0000_2d_00.4.analog-stereo
